html,
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f8f8;
    color: #333;
}


.menu-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1,
h2 {
    text-align: center;
    color: #ff6e69;
}

.menu-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.menu-item h3 {
    margin: 0;
    font-size: 20px;
    color: #d9534f;
}

.menu-item p {
    margin: 5px 0;
    font-size: 16px;
}

.menu-item:last-child {
    border-bottom: none;
}


input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}


form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form button:hover {
    background-color: #6d1d1b;
}

form button {
    width: auto;
    padding: 5px;
    background-color: #5b0c0a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label {
    font-size: 16px;
}

header {
    background-color: #5b0c0a;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: white;
    color: #5b0c0a;
}

.footer {
    margin-top: auto;
    width: 100%;
    bottom: 0px;
    background-color: #5b0c0a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

i {
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
}